<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">

    <Properties>
        <Property name="baseDir">src/main/logs</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %-50c{1.} - %msg %n" />
        </Console>
        <RollingRandomAccessFile name="RollingRandomAccessFile" fileName="${baseDir}/project-${date:yyyy}-${date:MM}-${date:dd}.log"
                                 filePattern="${baseDir}/project-%d{yyyy-MM-dd}-%i.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %-50c{1.} - %msg %n" />
            <Policies>
                <CronTriggeringPolicy schedule="0 0 0 * * ?" />
                <SizeBasedTriggeringPolicy size="20 MB" />
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Logger name="com.example.Project1_AWBD" level="info">
            <AppenderRef ref="RollingRandomAccessFile"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>