<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Info</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<body>
<form th:object="${recipe}" th:action="@{/recipe/}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}"/>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:lightgray;">
                <h1 class="panel-title">Recipe INFO</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>Recipe id:</label>
                        <input type="text" class="form-control" th:field="*{id}"/>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Description:</label>
                        <input type="text" class="form-control" th:field="*{description}"/>
                    </div>
                </div>

                <div class = "row">
                    <div class="col-md-3">
                        <label th:for="ingredients">Ingredients</label>
                        <ul id ="ingredients"  style="list-style: none;">
                            <li th:each="ingredient: ${ingredientsAll}" >
                                <input type="checkbox"
                                       th:field="*{ingredients}"
                                       th:value="${ingredient.id}" />
                                <label
                                        th:for="${#ids.prev('ingredients')}"
                                        th:text="${ingredient.description}">
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class = "row">
                    <div class="col-md-4">
                        <label th:for="info">Info</label>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-7 ml-md-auto">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

</form>
</body>
</html>