<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<!--<div class="container">-->
<!--    Logged user:-->
<!--    <span sec:authentication="name">user</span>-->
<!--    Roles: <span sec:authentication="principal.authorities">[ROLE_USER]</span>-->
<!--    <table class="table table-hover ">-->
<!--        <thead class="thead-inverse">-->
<!--        <tr>-->
<!--            <th>ID</th>-->
<!--            <th>Name</th>-->
<!--&lt;!&ndash;            <th>Code</th>&ndash;&gt;-->
<!--&lt;!&ndash;            <th>Reserved price</th>&ndash;&gt;-->
<!--&lt;!&ndash;            <th>Info</th>&ndash;&gt;-->
<!--&lt;!&ndash;            <th>Delete</th>&ndash;&gt;-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tr th:each="product, stat : ${products}"-->
<!--            th:class="${stat.odd}? 'table-light':'table-dark'"-->
<!--                >-->
<!--            <td th:text="${recipe.id}">1</td>-->
<!--&lt;!&ndash;            <td th:text="${product.name}">Product 1</td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${product.code}">Code</td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${product.reservePrice}">Reserved price</td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td><a href="#" th:href="@{'/product/info/' + ${product.id}}">Info</a></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td><a href="#" th:href="@{'/product/delete/' + ${product.id}}">Delete</a></td>&ndash;&gt;-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div sec:authorize="hasRole('CUSTOMER')">-->
<!--            <a class="btn btn-primary" role="button" th:href="@{'/recipe/new'}">add product</a>-->
<!--        </div>-->
<!--        <div class="col-md-3">-->
<!--            <a class="btn btn-primary" role="button" th:href="@{'/recipe/new'}">register</a>-->
<!--        </div>-->

<!--        <div class="col-md-3">-->
<!--            <form th:action="@{/logout}" method="POST"> <input type="submit" class="btn btn-primary" value="Logout"> </form>-->
<!--        </div>-->

<!--    </div>-->
<!--</div>-->
</body>
</html>